NationalParks.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="https://rencarleon.github.io/cse445-a4"
		   targetNamespace="https://rencarleon.github.io/cse445-a4"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified">
	<xs:element name="NationalParks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NationalPark" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
							<xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
							<xs:element name="Address" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
										<xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
										<xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
										<xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
										<xs:element name="Zip" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
									</xs:sequence>
									<xs:attribute name="NearestAirport" type="xs:string" use="required"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Rating" type="xs:float" use="optional"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
